:root {
    --nav-icon-width: -5px;
    --nav-border-width: 8px;
    background-color: black;
}

html,
body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #5a0000;
    transition: width 0.2s;
}

.nav--collapsed {
    width: 45px;
}

.nav__label {
    white-space: nowrap;
}

.nav--collapsed .nav__label {
    display: none;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: background-color 0.2s;
}

.nav__icon-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-right: 5px;

}

.nav__border {
    position: absolute;
    left: 100%;
    top: 0;
    width: var(--nav-border-width);
    height: inherit;
    background-color: #380000;
    transition: background-color 0.2s;
    cursor: ew-resize;
}

.nav__border:hover {
    background-color: #270000;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
    color: whitesmoke;
}

a {
    color: #009579;
}

.page-container {
    height: inherit;
    display: flex;
}

.main {
    height: inherit;
    padding: 0;
    padding-left: var(--nav-border-width);
    overflow-y: auto;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}